<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<% @tasks.each do |task| %>
  <h2><%= link_to task.title, task_path(task) %></h2>
  <p><%= link_to task.content, task_path(task) %><br>
      <%= link_to "Edit", edit_task_path(task) %><br>
      <%= link_to "    Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %><br>

      <%= link_to "  ADDDDDDD", new_task_path %></p>

<% end %>